@using FinalProject.Extensions
@using FinalProject.LocalResource
@model FinalProject.ViewModels.DetailsViewModel
@{
    ViewBag.Title = Model.Name;

    var currentUserName = User.Identity.GetName(Request.GetOwinContext());
    var isCurrentStudent = Model.IsCurrentUser;
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

@if (!isCurrentStudent)
{
    @Styles.Render("~/bundles/timeline-style")
    @Styles.Render("~/bundles/spinner")
}

@Styles.Render("~/Content/Profile.css")

<div class="container">
    <div class="profile-container">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.UserId, new { id = "userIdInput" })

        <div class="row">
            <div class="profile-header">
                <div class="profile-img-container">
                    <div class="profile-img" style="background-image: url(@Model.ProfilePicture)"></div>
                    @if (isCurrentStudent)
                    {
                        <div class="profile-img-overlay">
                            <div style="position: relative">
                                <i class="fa fa-camera profile-img-overlay-text"></i>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <button id="setProfilePicBtn" class="btn btn-primary collapse" style="margin-top: 10px">Salvar</button>
                </div>
                <div>
                    <div class="profile-name">
                        <span>@Model.Name</span>
                    </div>
                    <div class="profile-email">
                        <a href="mailto:@Model.Email?Subject='@currentUserName' do CoLearn">@Model.Email</a>
                    </div>
                    <div class="profile-institution">
                        <span>@Model.Institution</span>
                    </div>

                    @if (!isCurrentStudent && Model.Tags.Count > 0)
                    {
                        <a class="text-center agenda-link" href="/Agenda/Index/@Model.Id">Ver agenda</a>
                        <br/>
                        <a class="btn btn-link btn-video-chat offline"
                           title="Iniciar videoconferência com este estudante"
                           data-answer-author="@Model.Id">
                            <i class="fa fa-video-camera"></i>
                            <span id="connectionOfflineText">@Resource.UserOfflineStatusText</span>
                            <span id="connectionOnlineText" style="display: none">@Resource.UserOnlineStatusText</span>
                        </a>
                    }
                </div>
            </div>
            <br/>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>@Resource.StudentTagsSectionTitle</strong>
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="profile-tags">
                        @if (Model.Tags.Count == 0)
                        {
                            <h6>@Resource.NoInstructorTagsText</h6>
                        }
                        else
                        {
                            foreach (var tag in Model.Tags)
                            {
                                <label class="label-tag">@tag</label>
                            }
                        }

                        @if (Model.IsCurrentUser)
                        {
                            <br />
                            <a href="/Account/Edit#tags" target="_blank">Adicionar assuntos</a>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (!isCurrentStudent)
        {
            <hr/>
            <h5>@Resource.StudentContributionsSectionTitle</h5>
            <div class="row cd-timeline-empty hidden">
                <h6 class="text-center">@Resource.NoQuestionFoundText</h6>
            </div>
            <br/>
            <div class="row">
                <section id="timeline" data-items-type="contribution"></section>

                <div class="cssload-container">
                    <div class="cssload-double-torus"></div>
                </div>
            </div>
        }
    </div>
</div>

<form id="uploadProfilePicForm" class="hidden" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input id="fileupload" type="file" name="picture" class="hidden" accept="image/*">
</form>

<div id="confirmAgendaModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default close" data-dismiss="modal" title="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nenhum horário agendado esse(a) estudante</h4>
            </div>
            <div class="modal-body">
                <h6>Deseja agendar um horário para poder realizar a videoconferência?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (!isCurrentStudent)
    {
        <script type="text/javascript" src="~/Scripts/text-ellipsis.min.js"></script>
        @Scripts.Render("~/bundles/timeline")
    }

    @Scripts.Render("~/bundles/profile-details")
}