@model FinalProject.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Redefinir senha";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <section id="loginForm" class="form-center">
        <div class="col-xs-12 col-md-6 col-sm-6">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <h3 class="text-center">E-mail para redefinição de senha</h3>
                <hr/>

                if (ViewData.ModelState[string.Empty] != null && ViewData.ModelState[string.Empty].Errors.Count > 0)
                {
                    <div class="alert alert-error alert-error-custom">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true, string.Empty, new {@class = "text-danger"})
                    </div>
                }

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i>*</span>
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", value = Model.Email, placeholder = Html.DisplayNameFor(m => m.Email)})
                    </div>
                    <br/>
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new {@class = "text-danger"})
                </div>

                <span class="help-block"></span>
                <span class="help-block"></span>

                <input type="submit" value="Enviar e-mail" class="btn btn-primary"/>
            }
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}