@model FinalProject.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Entrar";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <section id="loginForm" class="form-center">
        <div class="col-xs-12 col-md-6 col-sm-6">
            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h4 class="text-center">Entre usando seu e-mail</h4>
                <hr />

                <h6>*Campos obrigatórios</h6>
                <span class="help-block"></span>

                if (ViewData.ModelState[string.Empty] != null && ViewData.ModelState[string.Empty].Errors.Count > 0)
                {
                    <div class="alert alert-error alert-error-custom">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                    </div>
                }

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i>*</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                    </div>
                    <br />
                    @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
                </div>

                <span class="help-block"></span>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i>*</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                    </div>
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                </div>

                <span class="help-block"></span>
                <span class="help-block"></span>

                <input type="submit" value="Entrar" class="btn btn-primary" />

                <span class="help-block"></span>

                <p>
                    <a href="javascript:sendForgotPasswordRequest()">Esqueceu sua senha?</a>
                </p>

                <p>
                    <a href="/Account/Register">Não tem uma conta?</a>
                </p>
            }
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Account/login.js")"></script>
}