@model FinalProject.ViewModels.SelectInstitutionViewModel
@{
    ViewBag.Title = "Selecionar instituição";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet">

<div class="container">
    <section id="selectInstitutionForm" class="form-center">
        <div class="col-xs-12 col-md-6 col-sm-6">
            @using (Html.BeginForm("SelectInstitution", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <h4>
                    Selecione uma instituição
                    <br/>
                    <small>Você verá apenas o conteúdo da instituição selecionada abaixo</small>
                </h4>
                <hr/>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i>*</span>

                        @{
                            var defaultOption = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Institution).ToHtmlString());
                            var institutions = Model.Institutions;

                            // Remove the '*' caracter
                            defaultOption = defaultOption.Remove(defaultOption.Length - 1, 1);
                        }

                        <select id="Institution" name="Institution" class="selectpicker form-control"
                                data-val="true"
                                data-live-search="true"
                                data-val-required="@defaultOption"
                                data-style="btn-default select-btn"
                                data-selectOnTab="true">
                            <option class="filter-item items" value="">@defaultOption</option>

                            @foreach (var institution in institutions)
                            {
                                var institutionName = $"{institution.FullName} ({institution.ShortName})";

                                <option class="filter-item items"
                                        data-filter="@institutionName"
                                        data-value="@institution.Id"
                                        data-subtext="@institution.ShortName"
                                        value="@institution.Id">
                                    @institution.FullName
                                </option>
                            }
                        </select>
                    </div>
                    <br/>
                    @Html.ValidationMessageFor(m => m.Institution, string.Empty, new {@class = "text-danger"})
                </div>

                <input type="submit" value="Selecionar" class="btn btn-primary"/>

                <br/>
                <br/>

                @Html.ActionLink("Não encontrei minha instituição", "RequestRegister", "Institution", null, new {target = "_blank"})
            }
        </div>
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select")
    <script type="text/javascript" src="@Url.Content("~/Scripts/institutionSearchSelect.js")"></script>
}