@using FinalProject.LocalResource
@model FinalProject.ViewModels.CreateQuestionViewModel
@{
    ViewBag.Title = Resource.NewQuestionViewTitle;
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

@Styles.Render("~/bundles/question-create-style")

<div class="container">
    <section id="createQuestionForm" class="form-center">
        <div class="col-xs-12 col-md-6 col-sm-6">
            @using (Html.BeginForm("Create", "Question", FormMethod.Post, new {id = "CreateQuestionForm", @class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.AnswerId)

                <h4 class="text-center">
                    @Resource.NewQuestionViewHeader
                    <br/>
                    <small>
                        @Resource.NewQuestionViewSubheader
                    </small>
                </h4>
                <hr/>

                <h6>@Resource.RequiredFieldsText</h6>
                <span class="help-block"></span>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-question-circle"></i>*</span>
                        @Html.TextBoxFor(m => m.Title, new {@class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Title).ToHtmlString()), autocomplete = "off"})
                        <ul id="suggestions" class="dropdown-menu hidden" role="listbox" style="display: block; left: 50px; top: 37px; max-width: 100%; word-wrap: break-word;">

                        </ul>
                    </div>
                    <br/>
                    @Html.ValidationMessageFor(m => m.Title, string.Empty, new {@class = "text-danger"})
                </div>

                <span class="help-block"></span>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i>*</span>
                        @Html.TextBoxFor(m => m.Tags, new {@class = "form-control", placeholder = Html.DisplayNameFor(m => m.Tags), data_provide = "typeahead"})
                        <span class="input-group-btn">
                            <button id="addNewTagBtn" class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                        </span>
                        <ul id="tag-suggestions" class="dropdown-menu hidden" role="listbox"
                            style="display: block; left: 50px; top: 37px;">
                        </ul>
                    </div>
                    <br/>
                    @Html.ValidationMessageFor(m => m.Tags, string.Empty, new {@class = "text-danger"})
                </div>

                <div class="form-group">
                    <h5>
                        <small>@HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Description).ToHtmlString())</small>
                    </h5>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control no-resizeble" })
                </div>

                <span class="help-block"></span>
                <br/>

                <input type="submit" value="@Resource.NewQuestionSubmitButtonText" class="btn btn-primary"/>
                <br />
                <br />
            }
        </div>
    </section>
</div>

<div id="moderatingTagsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resource.NoticeText</h4>
            </div>
            <div id="moderatingTagsModalBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="moderatingTagsModalBtn" type="button"
                        class="btn btn-primary" data-dismiss="modal">
                    @Resource.GotItText
                </button>
            </div>
        </div>
    </div>
</div>

@if (Model.AnswerId.HasValue)
{
    <div id="videoCallQuestionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Resource.NoticeText</h4>
                </div>
                <div class="modal-body" style="white-space: pre-line">
                    <h5>@Resource.VideoAnswerQuestionCreationModalMessage</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        @Resource.GotItText
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/bloodhound.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/tinymce/tinymce.min.js")"></script>
    @Scripts.Render("~/bundles/questionCreate")
}