@using FinalProject.Common
@using FinalProject.LocalResource
@model FinalProject.ViewModels.PreferencesViewModel
@{
    ViewBag.Title = Resource.PreferencesViewTitle;

    var isUserAdmin = User.IsInRole(UserRoles.SystemAdminRole);
    var yearRowStyle = "display: none";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/star-rating.min.css" rel="stylesheet">
<link href="~/Content/theme-krajee-fa.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet">

@Styles.Render("~/bundles/preferences-style")

<div class="container">
    <div class="preferences">
        <section id="preferences">
            <h4 class="text-center">
                @if (isUserAdmin)
                {
                    @Resource.AdminPreferencesViewHeader
                    <br />
                    <small>@Resource.AdminPreferencesViewSubheader</small>
                }
                else
                {
                    @Resource.PreferencesViewHeader
                    <br />
                    <small>@Resource.PreferencesViewSubheader</small>
                }
            </h4>
            <form id="preferencesForm">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="preference-header">@Resource.PreferencesSimilariryPanelTitle</h6>
                            </div>
                            <div class="col-md-8 similarity-preference">
                                <input id="similaritySlider" type="range" name="MinSimilarity" value="@Model.MinSimilarity" min="10" max="100" data-show-value="true">
                                &nbsp;&nbsp;
                                <label class="label label-default" id="similarityValue"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="preference-header">Avaliação mínima das respostas dos instrutores</h6>
                            </div>
                            <div class="col-md-8 rating-preference">
                                <input id="minRating" class="kv-ltr-theme-fa-star"
                                       name="MinRating" value="@Model.MinRating"
                                       dir="ltr" data-size="xs" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="preference-header">Instituições dos instrutores</h6>
                            </div>
                            <div class="col-md-8 institutions-preference">
                                <select id="institutions" name="Institutions"
                                        class="selectpicker form-control"
                                        data-live-search="true"
                                        title="Todas"
                                        data-live-search-placeholder="Procure por uma instituição"
                                        data-style="btn-default select-btn"
                                        data-selectOnTab="true"
                                        data-none-results-text="Nenhuma instituição encontrada"
                                        multiple="multiple">

                                    @if (Model?.SelectInstitutions?.Length > 0)
                                    {
                                        foreach (var institution in Model.SelectInstitutions)
                                        {
                                            var institutionName = $"{institution.FullName} ({institution.ShortName})";

                                            if (institution.IsSelected)
                                            {
                                                <option class="filter-item items"
                                                        data-filter="@institution.FullName @institution.ShortName"
                                                        data-value="@institution.Id"
                                                        data-subtext="@institution.ShortName"
                                                        value="@institution.Id"
                                                        selected="selected">
                                                    @institutionName
                                                </option>
                                            }
                                            else
                                            {
                                                <option class="filter-item items"
                                                        data-filter="@institution.FullName @institution.ShortName"
                                                        data-value="@institution.Id"
                                                        data-subtext="@institution.ShortName"
                                                        value="@institution.Id">
                                                    @institutionName
                                                </option>
                                            }
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="preference-header">Nível mínimo dos instrutores</h6>
                            </div>
                            <div class="col-md-8 grade-preference">
                                <select id="grades" name="Grade"
                                        class="selectpicker form-control"
                                        data-style="btn-default select-btn"
                                        data-selectOnTab="true">

                                    @if (Model?.SelectGrades?.Length > 0)
                                    {
                                        if (!Model.SelectGrades.Any(g => g.IsSelected))
                                        {
                                            <option class="filter-item items"
                                                    data-value=""
                                                    value=""
                                                    selected="selected">
                                                Todos
                                            </option>
                                        }
                                        else
                                        {
                                            <option class="filter-item items"
                                                    data-value=""
                                                    value="">
                                                Todos
                                            </option>

                                            yearRowStyle = string.Empty;
                                        }

                                        foreach (var grade in Model.SelectGrades)
                                        {
                                            if (grade.IsSelected)
                                            {
                                                <option class="filter-item items"
                                                        data-value="@grade.Id"
                                                        value="@grade.Id"
                                                        selected="selected">
                                                    @grade.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option class="filter-item items"
                                                        data-value="@grade.Id"
                                                        value="@grade.Id">
                                                    @grade.Name
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <button id="saveBtn" type="button" class="btn btn-primary pull-right">Salvar</button>

                        @if (!isUserAdmin)
                        {
                            <button id="resetBtn" type="button" class="btn btn-default pull-right">Restaurar</button>
                        }

                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="popup"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select")
    <script type="text/javascript" src="@Url.Content("~/Scripts/star-rating.min.js")"></script>
    @Scripts.Render("~/bundles/preferences")
}