@using FinalProject.LocalResource
@model FinalProject.ViewModels.AgendaViewModel
@{
    ViewBag.Title = Resource.AgendaViewTitle;
}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

@Styles.Render("~/bundles/agenda-style")

<div class="container">
    <div class="content">
        <header class="text-center">
            @if (Model.IsReadOnly)
            {
                <h4>
                    Agende um horário com @Model.StudentName
                    <br/>
                    <small>Clique em algum espaço em branco no calendário abaixo para marcar um horário</small>
                </h4>
            }
            else
            {
                <h4>
                    @Resource.AgendaViewHeader
                    <br/>
                    <small>@Resource.AgendaViewSubHeader</small>
                </h4>
            }

            <hr/>
        </header>

        <section>
            @if (!Model.IsReadOnly)
            {
                <div class="pull-right">
                    <a class="btn btn-link btn-settings"><i class="fa fa-cog"></i></a>
                </div>
                <br/>
            }

            <div class="calendar-header text-center">
                <button class="btn btn-default btn-calendar-prev">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <h5 class="calendar-month"></h5>
                <button class="btn btn-default btn-calendar-next">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
            <div class="btn-view-mode">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button id="weekViewBtn" type="button" class="btn btn-primary btn-view-mode">semana</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="monthViewBtn" type="button" class="btn btn-default btn-view-mode">mês</button>
                    </div>
                </div>
            </div>
            @*<div class="text-center" style="margin-top: 10px; cursor: pointer">
                <a id="allDaysLink">
                    Marcar todos os dias da semana como disponível
                </a>
            </div>*@
            <div id="calendar"
                 data-max-schedule-time="@Model.MaxScheduleTime"
                 data-student="@Model.StudentId"
                 data-readonly="@Model.IsReadOnly">

            </div>
        </section>
        <br/>
    </div>
</div>

<div id="addEventModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     data-title-new="Novo horário livre" data-title-edit="Editar horário livre">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default close" data-dismiss="modal" title="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback">
                    <div class="input-group date">
                        <input id="startDatetimepicker" type="text" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-calendar" for="startDatetimepicker">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div id="endDatetimepickerContainer" class="form-group has-feedback">
                    <div class="input-group date">
                        <input id="endDatetimepicker" type="text" class="form-control"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-calendar" for="endDatetimepicker">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <label class="calendar-check-box">
                    <input id="allDayCheckbox" type="checkbox" value="">O dia todo
                </label>
                <br/>
                <label class="calendar-check-box">
                    <input id="recurrenceCheckbox" type="checkbox" value="">Repitir essa data e horário
                </label>
                &nbsp;
                <select id="recurrenceInterval">
                    <option value="d">todo dia</option>
                    <option value="w">toda semana</option>
                    <option value="m">todo mês</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Salvar</button>
                <button type="button" class="btn btn-danger collapse">Deletar</button>
            </div>
        </div>
    </div>
</div>

<div id="joinEventModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     data-title-join="Escolha um horário<br/>(Máximo de {0})"
     data-title-leave="Desagendar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default close" data-dismiss="modal" title="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="joinEventForm">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input id="titleEventTimepicker" name="Title" type="text" class="form-control" placeholder="Assunto"
                                   data-val="true" data-val-required="Você deve informar o assunto do agendamento" />
                            <span class="input-group-addon"><i class="fa fa-comments"></i></span>
                        </div>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="input-group date">
                            <input id="startEventTimepicker" type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-calendar" for="startEventTimepicker">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="input-group date">
                            <input id="endEventTimepicker" type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-calendar" for="endEventTimepicker">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Agendar</button>
                <button type="button" class="btn btn-danger collpase" data-dismiss="modal">Desagendar</button>
            </div>
        </div>
    </div>
</div>


<div class="popup">
    Este estudante permite você agendar, no máximo, {0}
</div>

<div id="eventSettingsModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     data-title-join="Escolha um horário"
     data-title-leave="Desagendar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default close" data-dismiss="modal" title="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Qual o tempo máximo que um estudante pode agendar com você?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group has-feedback">
                    <div class="input-group date">
                        <input id="eventSettingTimepicker" type="text" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-calendar" for="eventSettingTimepicker">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteEventModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação</h4>
            </div>
            <div class="modal-body">
                <span>Certeza que deseja remove este evento?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div id="recDeleteEventModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Evento recorrente</h4>
            </div>
            <div class="modal-body">
                <span>Deseja remover todas as ocorrências desse evento ou apenas a ocorrência selecionada?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-delete-mode="single" data-dismiss="modal">Apenas uma ocorrência</button>
                <button type="button" class="btn btn-default" data-delete-mode="all" data-dismiss="modal">Todas as ocorrências</button>
            </div>
        </div>
    </div>
</div>

<div id="recEditEventModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Evento recorrente</h4>
            </div>
            <div class="modal-body">
                <span>Deseja editar todas as ocorrências desse evento ou apenas a ocorrência selecionada?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-edit-mode="single" data-dismiss="modal">Apenas uma ocorrência</button>
                <button type="button" class="btn btn-default" data-edit-mode="all" data-dismiss="modal">Todas as ocorrências</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Agenda/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Agenda/lang-all.min.js")"></script>
    @Scripts.Render("~/bundles/agenda")
}