@model FinalProject.ViewModels.TimelineFilterViewModel

<div class="filter-container text-left">
    <form id="filterForm">
        <span class="form-text">Contendo</span>
        @Html.TextBoxFor(m => m.Title, new {@class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Title).ToString())})
        @Html.DropDownListFor(m => m.Operator, Model.Operators, new {@class = "form-control"})

        @if (Model.TagsList != null)
        {
            <select id="tags" name="Tags"
                    class="selectpicker form-control"
                    data-live-search="true"
                    title="Selecione uma ou mais tags"
                    data-style="btn-default select-btn"
                    data-selectOnTab="true"
                    multiple="multiple">
                @foreach (var tag in Model.TagsList)
                {
                    <option class="filter-item items"
                            data-filter="@tag"
                            data-value="@tag"
                            value="@tag">
                        @tag
                    </option>
                }
            </select>
        }
    </form>
    
    <div class="checkbox">
        <label>
            <input id="studentItemsCheckbox" type="checkbox"/>
            Apenas as minhas perguntas
        </label>
    </div>

    <div class="checkbox">
        <label>
            <input id="studentInstitutionItemsCheckbox" type="checkbox" checked="checked" />
            Apenas perguntas da minha instituição
        </label>
    </div>
</div>