@model FinalProject.ViewModels.TimelineItemViewModel

<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div id="@Model.Id" class="cd-timeline-block">
        <div class="cd-timeline-img" style="background-image: url(@Model.UserPicturePath)"></div>
        <div class="cd-timeline-user">
            <a class="cd-timeline-username" href="/Account/Details/@Model.UserId">
                @Model.User
            </a>
            <div>
                <span class="cd-timeline-institution cd-timeline-small">@Model.Institution</span>
            </div>
            <div class="block-helper"></div>
            <span class="cd-timeline-small cd-timeline-date">@Model.DateTime</span>
        </div>
        <div class="cd-timeline-content">
            <h2 class="cd-timeline-title" title="@Model.Title">@Model.Title</h2>
            <div class="cd-timeline-footer">
                <div class="cd-timeline-tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <label class="label label-primary">@tag</label>
                    }
                </div>
                <span class="cd-timeline-answers cd-timeline-small">@Model.AnswersCount</span>
            </div>
        </div>
    </div>
</div>