@using FinalProject.LocalResource
@using FinalProject.ViewModels
@model TimelineFilterViewModel
@{
    ViewBag.Title = Resource.TimelineViewTitle;
}

@Styles.Render("~/bundles/timeline-style")
@Styles.Render("~/bundles/spinner")

<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet">

<div class="container">
    <div class="text-center filter-btn-containter" style="margin-top: 50px">
        <button id="toggleFilterBoxBtn" class="btn btn-default">Filtrar perguntas</button>
        <br/>
        <span class="label label-primary filter-selected hidden">
            <span></span>
            <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
        </span>
    </div>

    <div class="row cd-timeline-empty hidden">
        <h5 class="text-center">@Resource.NoQuestionFoundText</h5>
    </div>

    <section id="timeline" data-user-id="@Model.UserId" data-items-type="related" data-inst-id="@ViewBag.InstitutionId">
    </section>

    <div class="cssload-container">
        <div class="cssload-double-torus"></div>
    </div>
</div>

@if (!ViewBag.UserHasInstitution)
{
    <div id="infoModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Resource.NoInstitutionModalTitle</h4>
                </div>
                <div class="modal-body">
                    <h6>
                        @Resource.NoInstitutionModalMessage
                    </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="filterModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default close" data-dismiss="modal" title="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@Resource.TimelineFilterModalTitle</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_FilterPartial", Model)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    @if (!ViewBag.UserHasInstitution)
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/Timeline/infoModal.js")"></script>
    }
    else
    {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/select")
        <script type="text/javascript" src="~/Scripts/text-ellipsis.min.js"></script>
    }

    @Scripts.Render("~/bundles/timeline")
}