@model FinalProject.ViewModels.DenyInstitutionRequestViewModel

<div id="reasonModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Enviar justificativa</h4>
            </div>
            <div class="modal-body">
                <form id="ReasonForm" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.InstitutionRequestId)

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i>*</span>
                            @Html.TextAreaFor(m => m.Reason, new {@class = "form-control no-resizeble", rows = 5, placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Reason).ToHtmlString())})
                        </div>
                    </div>

                    <span class="help-block"></span>

                    @Html.ValidationMessageFor(m => m.Reason, string.Empty, new {@class = "text-danger"})

                    <span class="help-block"></span>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i>*</span>
                            @Html.TextBoxFor(m => m.ManagerEmail, new {@class = "form-control", placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ManagerEmail).ToHtmlString())})
                        </div>
                    </div>

                    <span class="help-block"></span>

                    @Html.ValidationMessageFor(m => m.ManagerEmail, string.Empty, new {@class = "text-danger"})

                    <span class="help-block"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="sendReasonButton" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>

<div id="responseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 id="responseModalTitle" class="modal-title"></h4>
            </div>
            <div id="responseModalBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="sendingModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enviando e-mail</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>